@keyframes borderPulse {
  0% {
    border-width: 2px;
  }
  50% {
    border-width: 8px;
  }
  100% {
    border-width: 2px;
  }
}

/* .pulse-border {
  border-width: 2px;
  border-style: solid;
  box-sizing: border-box;
} */

.pulse-border:hover {
  animation: borderPulse 1.8s ease-in-out infinite;
}
